<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Timeplanlegger API</title>
	</head>
	<body>
		<h1>Endpoints</h1>
		<b>Areas</b></br>
		<p>/api/areas/&lt;university&gt;</p>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/areas/uio
			
{
    "name": "Areas",
    "data": [
        {
            "id": "AH",
            "name": "Ahus"
        },
        {
            "id": "AS",
            "name": "Aker sykehus"
        },
        {
            "id": "BL",
            "name": "Blindern"
        },
		...
    ]
}
		</code>
		</pre>
		<b>Buildings in area</b></br>
		<p>/api/buildings/&lt;university&gt;/&lt;areaID&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/buildings/uio/AH
{
    "name": "Buildings",
    "data": [
        {
            "id": "AHB1",
            "name": "Ahus B1"
        },
        {
            "id": "AHB2",
            "name": "Ahus B2"
        },
        {
            "id": "AHB3",
            "name": "Ahus B3"
        },
		...
    ]
}
		</code>
		</pre>
		<b>Rooms in building</b></br>
		<p>/api/rooms/&lt;university&gt;/&lt;areaID&gt;/&lt;buildingID&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/rooms/uio/AH/AHB1
{
    "name": "Rooms",
    "data": [
        {
            "id": "AHB102.072",
            "size": "14",
            "name": "Grupperom B102.072",
            "typeid": "Seminarrom"
        },
        {
            "id": "AHB104.004",
            "size": "30",
            "name": "Grupperom B104.004",
            "typeid": "Seminarrom"
        },
        {
            "id": "AHB104.048",
            "size": "1",
            "name": "Ekspedisjon patologisk-anatomisk avdeling",
            "typeid": "Oppmøtested"
        }
    ]
}
		</code>
		</pre>
		<b>Information about room</b></br>
		<p>/api/rooms/&lt;university&gt;/&lt;areaID&gt;/&lt;buildingID&gt;/&lt;roomID&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/rooms/uio/AH/AHB1/AHB102.072
{
    "name": "Roomdata",
    "data": {
        "buildingurl": "https://goo.gl/maps/oU7Y4",
        "roomurl": "null",
        "roomacronym": "Grup",
        "roomimg_url": "null",
        "buildingacronym": "Ahus"
    },
    "equipment": [
        "Fast PC",
        "Kritt-tavle",
        "Overhead-projektor",
        "Videoprojektor",
        "Whiteboard",
        "Bruk må avklares med romeier før reservasjon. Kontakt rombooking (rombooking@ahus.uio.no)"
    ]
}
		</code>
		</pre>
		<b>Schedule for room</b></br>
		<p>/api/schedule/&lt;university&gt;/&lt;areaID&gt;/&lt;buildingID&gt;/&lt;roomID&gt;/&lt;weeknumber&gt;/&lt;year&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/schedule/uio/AH/AHB1/AHB102.072/33/2017
{
    "events":[
        {
            "dtend":"2017-08-14T09:00:00+02",
            "summary":" Ahus Hema/onko Morgenm\u00c3\u00b8te mandag ",
            "dtstart":"2017-08-14T08:30:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"monday"
        },
        {
            "dtend":"2017-08-15T08:45:00+02",
            "summary":" Ahus Hema/onko Morgenm\u00c3\u00b8te tirsdag",
            "dtstart":"2017-08-15T08:00:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"tuesday"
        },
        {
            "dtend":"2017-08-16T09:00:00+02",
            "summary":" Ahus Hema/onko Morgenm\u00c3\u00b8te onsdag",
            "dtstart":"2017-08-16T08:30:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"wednesday"
        },
        {
            "dtend":"2017-08-16T12:30:00+02",
            "summary":" Ahus Hema/onko Lunchm\u00c3\u00b8te onsdager",
            "dtstart":"2017-08-16T11:45:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"wednesday"
        },
        {
            "dtend":"2017-08-17T08:45:00+02",
            "summary":" Ahus Hema/onko Morgenm\u00c3\u00b8te torsdag",
            "dtstart":"2017-08-17T08:00:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"thursday"
        },
        {
            "dtend":"2017-08-17T11:00:00+02",
            "summary":" Ahus ONKO samarbeidsm\u00c3\u00b8te",
            "dtstart":"2017-08-17T10:00:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"thursday"
        },
        {
            "dtend":"2017-08-17T12:30:00+02",
            "summary":" Ahus Hema/onko Lunchm\u00c3\u00b8te torsdager",
            "dtstart":"2017-08-17T11:45:00+02",
            "teaching-method-name":"E.E. Westgaard",
            "weekday":"thursday"
        },
        {
            "dtend":"2017-08-18T16:00:00+02",
            "summary":" Ahus Onkologi, Unn-Cathrin E Buvarp",
            "dtstart":"2017-08-18T09:00:00+02",
            "teaching-method-name":"V.S. Bj\u00c3\u00b8rklund",
            "weekday":"friday"
        }
    ],
    "name":"Timetabledata"
}
	</code>
		</pre>


	</body>
</html>
