<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Timeplanlegger API</title>
	</head>
	<body>
		<h1>Endpoints</h1>
		<b>Areas</b></br>
		<p>/api/areas/&lt;university&gt;</p>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/areas/uio
[
    {
        "id": "AH",
        "name": "Ahus"
    },
    {
        "id": "AS",
        "name": "Aker sykehus"
    },
    {
        "id": "BL",
        "name": "Blindern"
    },
	...
]
		</code>
		</pre>
		<b>Buildings in area</b></br>
		<p>/api/buildings/&lt;university&gt;/&lt;areaID&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/buildings/uio/AH
[
    {
        "id": "AHB1",
        "name": "Ahus B1"
    },
    {
        "id": "AHB2",
        "name": "Ahus B2"
    },
    {
        "id": "AHB3",
        "name": "Ahus B3"
    },
	...
]
		</code>
		</pre>
		<b>Rooms in building</b></br>
		<p>/api/rooms/&lt;university&gt;/&lt;areaID&gt;/&lt;buildingID&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/rooms/uio/AH/AHB1
[
    {
        "id": "AHB102.072",
        "size": "14",
        "name": "Grupperom B102.072",
        "typeid": "Seminarrom"
    },
    {
        "id": "AHB104.004",
        "size": "30",
        "name": "Grupperom B104.004",
        "typeid": "Seminarrom"
    },
    {
        "id": "AHB104.048",
        "size": "1",
        "name": "Ekspedisjon patologisk-anatomisk avdeling",
        "typeid": "Oppmøtested"
    }
]
		</code>
		</pre>
		<b>Schedule for room</b></br>
		<p>/api/schedule/&lt;university&gt;/&lt;areaID&gt;/&lt;buildingID&gt;/&lt;roomID&gt;/&lt;weeknumber&gt;/&lt;year&gt;</p></br>
		<pre>
		<code>
GET http://tp.freheims.xyz/api/schedule/uio/AH/AHB1/AHB102.072/33/2017
[
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-27",
        "weeknr": 33,
        "dtstart": "2017-08-14T08:30:00+02",
        "dtend": "2017-08-14T09:00:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Morgenm\u00f8te mandag ",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-30",
        "weeknr": 33,
        "dtstart": "2017-08-15T08:00:00+02",
        "dtend": "2017-08-15T08:45:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Morgenm\u00f8te tirsdag",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-28",
        "weeknr": 33,
        "dtstart": "2017-08-16T08:30:00+02",
        "dtend": "2017-08-16T09:00:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Morgenm\u00f8te onsdag",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-25",
        "weeknr": 33,
        "dtstart": "2017-08-16T11:45:00+02",
        "dtend": "2017-08-16T12:30:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Lunchm\u00f8te onsdager",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-31",
        "weeknr": 33,
        "dtstart": "2017-08-17T08:00:00+02",
        "dtend": "2017-08-17T08:45:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Morgenm\u00f8te torsdag",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-52",
        "weeknr": 33,
        "dtstart": "2017-08-17T10:00:00+02",
        "dtend": "2017-08-17T11:00:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus ONKO samarbeidsm\u00f8te",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-ELLENW",
        "id": "17h-ELLENW-26",
        "weeknr": 33,
        "dtstart": "2017-08-17T11:45:00+02",
        "dtend": "2017-08-17T12:30:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking ELLENW",
        "summary": "Ahus Hema/onko Lunchm\u00f8te torsdager",
        "status": "active"
    },
    {
        "semesterid": "17h",
        "courseid": "BOOKING",
        "actid": "17h-VIBEKESB",
        "id": "17h-VIBEKESB-144",
        "weeknr": 33,
        "dtstart": "2017-08-18T09:00:00+02",
        "dtend": "2017-08-18T16:00:00+02",
        "teaching-method": "-",
        "teaching-method-name": "Booking",
        "teaching-title": "Booking VIBEKESB",
        "summary": "Ahus Onkologi, Unn-Cathrin E Buvarp",
        "status": "active"
    }
]
	</code>
		</pre>


	</body>
</html>
